.add-to-cart-new-product-tag{
 text-align: left;
 margin-left: 5%;
}
.add-to-cart-product-name{
 padding-left: 0;
 text-align: left;
 padding-right: 40%;
 margin-left: 5%;
}
.add-to-cart-description{
 padding-left: 0;
 text-align: left;
 margin-left: 5%;
}
.button-holder{
 display:flex;
 margin: auto;
 width: 90%;
 gap: 20px;
 padding-bottom: 2rem;
}
.cost{
 font-weight: 700;
 font-size:18px;
 line-height: 25px;
 margin-left: 5%;
 margin-bottom: 2rem;
}
.increase-decrease-product{
 display:flex;
 justify-content: space-between;
 align-items: center;

}

.add-to-cart{
 margin:0;
}
.increase-decrease-product {
 width:120px;
 height: 48px;
 background-color: #F1F1F1;
}
.remove-item,.add-item{
 border-width: 0;
 opacity: 0.25; 
 margin: 0 6px;
}
.number-of-items{
 font-weight: 700;
 font-size: 13px;
 letter-spacing: 1px;
}
.product-feature-header{
 font-weight: 700;
 font-size: 24px;
 letter-spacing: 1px;
 margin-top:3rem;
 margin-left: 5%;
 margin-bottom: 1.4rem;
}
.feature-text{
 font-weight: 500;
 line-height: 25px;
 opacity: 0.5;
 width: 90%;
 margin: auto;
 padding-bottom: 1.4rem;
 padding-right: 1.9rem;
}
.shopping-bag-content{
 margin: 0 5%;
}
.shopping-bag-header{
 font-weight: 700;
 font-size: 24px;
 letter-spacing: 1px;
 margin-left: 5%;
 margin-bottom: 1.4rem;
 margin-top: 2rem;
}
.amount{
 font-size:15px;
 line-height: 25px;
 font-weight: 700;
 color: #D87D4A;
 display: inline-block;
 padding:2px 1.3rem 4px 0;
 
}
.box-content{
 margin-bottom: 4rem;
}
.content{
 font-size:15px;
 line-height: 25px;
 font-style: medium;
 opacity: 0.5;
 font-weight: 500;
}
.cart-shared-pictures img{
 display: block;
 width: 90%;
 border-radius: 7px;
 margin: 1rem auto;
} 
.shard-black-headphone{
 display: block;
 padding-bottom: 20%;
}
.things-you-may-like-header, .things-you-may-like-brand-name
{
 font-weight: bold;
 font-size: 24px;
 text-align: center;
 padding-bottom: 5%;
}
.things-you-may-like img{
 display: block;
 width: 90%;
 margin: auto;
 border-radius: 7px;

}
.tab-image-only{
  display: none ;
}
/* .things-you-may-like {
 position: relative;
} */
.things-you-may-like-brand-name{
 padding-top: 10%;
}
.button-container{
 display:flex;
 justify-content: center;
 padding-bottom: 10%;
}
@media only screen and (min-width: 600px){
 .store-product-container{
  display:flex;
  padding-left: 5%;
  justify-content: space-between;
  margin: auto;
  gap: 20px;
 }
 .product-image-container img{
   height: 100%;
   width: 100%;
   border-radius: 7px;
 }
 .product-name{
  font-size:28px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
  padding-bottom: 2rem;
 }
 .description1{
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  padding-bottom: 1.8rem;
 }
 .product-image-container 
{
 width: 100%;
}
.box-content{
 display: flex;
 justify-content: space-between;
 width: 90%;
 margin: auto;
 padding-bottom: 5rem;
}
.bag-header-container{
  width: 100%;
}
.bag-content-container{
  width: 100%;
}
.shopping-bag-header{
  margin-top: 0;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 1.14px;
  margin-left: 0;

}
.features-container{
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.shared-product-picture-container{
  display: flex;
  width: 90%;
  margin: auto;
  gap: 20px;
}
.tab-image-only{
  display: block;
  width: 100%;
}
.cart-shared-pictures img{
  width: 100%;
  
}
.the-card-container{
  display: flex;
  gap: 10px;
  

}
.things-you-may-like-container{
 width: 90%;
 margin: auto;
} 
.things-you-may-like img{
  width: 100%;
}
}