.brand-name{
  font-weight:500px !important;
  font-size:2rem !important;
  font-weight: 700 !important;
}
.bi{
  color:#FFFFFF;
}
.navbar{
  margin: 30px
}
#phone-nav-container{
  background-color: #191919; 
  font-family: 'Poppins', sans-serif;
  
  margin: 0 auto;
  border-bottom: 0.01em solid rgba(151, 151, 151, .4);
  
  padding:10px 24px;
}
.navbar-toggler{
  border: 1px solid transparent !important;
}
.nav-link{
 font-size:1rem !important;
}
/*Add to Cart css*/
.cart-images{
 display:flex;
 flex-direction: row;
 gap: 20px;
 padding-top: 10px;
}
.cart-images img{
 height: 84px;
 display: block;
 border-radius: 7px;
 margin-bottom: 1.4rem;

}
.product-name-cart{
 padding-top: 10px;
 font-size: 15px;
 font-weight: bold;

}
.cart-quantity{
 padding-top: 30px;
 }
 .checkout-button-cart{
  width: 279px;
  
 }
 .modal-box{
  max-width: 520px !important;
  margin: auto !important;
  padding-top: 20px;
  padding-bottom: 20px;
  
 }
 .footer.box{
  justify-content: center;
  border-top: 1px solid transparent;
 }
.cost-of-product{
 opacity: 0.5;
 font-size: 14px;
 font-weight: 700;
 line-height: 25px;
}
.total-amount{
 font-weight: 500;
 font-size: 15px;
 opacity: 0.5;
}
.remove-all{
 color: black;
 opacity: 0.5;
 font-size: 15px;
 text-decoration: underline;
}
.cart-button{
  background-color: #191919; 
  border: none
}