@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.blackbackground-headphone-image{

 background-color: #191919;
 height: auto;
 width:100%;
 background-image: url(/images/mobile1/image-header.jpg);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 600px;
}
.megatron-text-container {
 color: #fff;
 font-family: 'Manrope', sans-serif;
 text-align: center;
 height: 58%;
 width: 80%;
  
 
}
.intro-text{
 font-weight: 400;
 font-size: 14px;
 line-height:19px;
 letter-spacing:12px;
 opacity: 0.5;
 padding-top: 2rem;
 padding-bottom: 1rem;
}
.leading-text{
 font-weight: 700;
 font-size:36px;
 letter-spacing:2.5px;
 line-height: 40px;
 width: 328px;
 margin: auto;
 padding-bottom: 1rem;
}
.sub-text{
 font-size: 15px;
 font-weight: 400;
 line-height: 30px;
 opacity:.65;
 padding: 1rem 3rem;
 
}
.see-product-button{
 width: 160px;
 height:48px;
 border: 1px solid transparent;
 background-color: #D87D4A;
 font-size: 13px;
 font-weight: bold;
 line-height: 18px;
 color: #fff;
 letter-spacing: 1px;

}
.product-preview{
 background-color: #FFF;
 text-align: center;
 padding-top: 6rem;
 width: 90%;
 margin: auto;
  margin-top:30px;
}
.preview-boxes{
  position: relative;
  width: 100%;
  margin: auto;
}
.image-positioning{
  position: absolute;
  margin-left: auto; 
  margin-right: auto; 
  width: 150px;
  left: 0;
  right: 0;
  bottom: 60%;
}

.preview-containers{
 width:100%;
 height: 185px;
 margin-right: auto;
 margin-left: auto;
 margin-bottom: 7rem;
 background-color:#F2F2F2; 
 border-radius:8px;
 
}
.preview-headers{
 padding-top: 88px;
}

 

.preview-headers{
 font-weight: bold;
 font-size:15px;
 line-height: 20px;
 text-align: center;
 color:#000;
 letter-spacing:2px;
}
.preview-anchor{
 font-weight: bold;
 font-size: 13px;
 line-height:18px;
 letter-spacing: 1px;
 font-style: normal;
 opacity: 0.5;
 color:#000;
 text-decoration: none;
 
}
.preview-anchor span{
 color: #ce520a;
 opacity: 1;
}
.home-page-product-action-page{
 height:auto;
 width:90%;
 margin: auto;
overflow: hidden;
 text-align: center;
 background-color: #D87D4A;
 border-radius: 8px;
 min-height: max-content;
 margin-bottom: 2%;
 margin-top:2rem;
}
.home-page-product-first-container{
   position:relative;
}
.product-page-speaker{
 height:420px;
 width: auto;
 
}
.outermost-circle{
 width: 430px;
 height: 430px;
 border-radius: 50%;
 border: 1px solid rgba(241, 240, 239, 0.2);
 position: absolute;
 right: 0%;
 left:0%;
 margin-left: auto; 
  margin-right: auto;
 
}
.inner-circle {
 width: 380px;
 height: 380px;
  border-radius: 50%;
 border: 1px solid rgba(241, 240, 239, 0.2);
 margin: 20px auto;
 
}
.home-page-product-page{
 font-weight:500;
 font-size:40px;
 line-height: 50px;
 letter-spacing:2px;
 color: #fff;
 text-align: center;
 padding: 0 100px;
 margin: 0 auto;
}
.home-page-product-page-subtext{
 font-weight: 500;
 font-size:15px;
 opacity: .7;
 line-height: 25px;
 color: #fff;
 padding:0 40px;
}
.product-page-button{
 width: 160px;
 height:48px;
 background-color: #000;
 color: #fff;
 font-weight: 500;
 font-size:13px;
 line-height: 17px;
 border: 1px solid transparent;
 margin-bottom: 30px;

}
.zx7-speaker-products{
 background-image: url(/images/mobile-home/image-speaker-zx7.jpg);
 height:auto;
 
 background-repeat:no-repeat;
 background-size: 100% 100%;
 width:90%;
 margin:auto;

 border-radius: 8px;
 min-height: 370px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-left:5%;
 gap: 10px;
 background-position: 50% 50%;
 
 min-height: fit-content (320px);
}
.zx7-speaker{
 font-size:2rem;
 line-height:38px;
 letter-spacing: 2px;
 font-weight:500;
 color:#000;

}
.black-earphones-case-picture-tablet, .tab-pic{
  display: none;
}
.zx7-button{
 width: 180px;
 height: 50px;

 font-weight:700;
 font-size: 13px;
 border: 1px solid black;
 background-color:transparent;
}
.black-earphones-case-picture{
 width:90%;
 display:block;
 margin:30px auto;
 border-radius: 9px;

}
.yx1-earphone-card {
 background-color:#F1F1F1; 
 height: 220px;
 width: 90%;
 margin:0 auto;
 border-radius: 9px;
 border-bottom: 20px;
}
.yx1-header{
 font-weight: 500;
 font-size:2rem;
 letter-spacing: 2px;
 padding-top:15%;
 padding-left: 5%;
 padding-bottom:6%;

}
.yx1.see-product-button{
 width: 180px;
 height: 48px;
 color:#000;
 margin-left: 5%;
 font-weight: 500;
 letter-spacing: 1px;
 border: 1px solid #000;
}
.home-page-man-picture
{
 width: 90%;
 margin: 6rem auto;
 border: 1px solid transparent !important;
 align-items: center;
 
}
.card-img-top{
 border-radius: 9px;
}
.content-header{
 font-size: 2rem;
 font-weight: 500;
 line-height: 42px;
 text-align: center !important;
 padding: 1rem 2rem;
 color: #000000;


}
.desktop-img{
  display: none;
}
.content-header span{
 color: #D87D4A;
}
.content-text{
 text-align: center;
 font-size: 16px;
 font-weight: normal;
 opacity: 0.6;
 line-height:25px;
 padding: 0 5%;
 color: #000000;
}
.fab{
  font-size: 28px;
  
}
.container-for-black-earphone{
  margin-top: 2%;
}

@media only screen and (min-width: 600px) {
.blackbackground-headphone-image{ 
 background-image: url(/images/tablet-home/image-header.jpg);
 
}
body{
  width: 800px;
  max-width: 800px;
}
.product-preview{
  display: flex;
  gap: 30px;
 
}
.preview-containers{
  margin-bottom: 3rem;
}
.home-page-product-page{
  font-size: 56px;
  font-weight:700;
  line-height: 58px;
  letter-spacing: 2px;
  width: 500px;
  text-align: center;
  margin: auto;
}
.home-page-product-page-subtext {
  padding: 30px 25%;
}
.zx7-speaker-products{
  background-image: url(/images/tablet-home/image-speaker-zx7.jpg);
  margin-bottom: 0;
  

  
  
}
.container-for-black-earphone{
  display: flex;
  width: 90%;
  margin: auto;
  gap: 10px;
  
}
.black-earphones-case-picture-tablet, .tab-pic{
  display: block;
  width: 100%;
  border-radius: 7px;
  margin-top: 30px;
}
.black-earphones-case-picture, .card-img-top{
  display: none;
}
.black-earphones-case-picture-tablet{
  width: 100%;
}
.yx1-earphone-card {
 
  height:auto;
  margin-top: 30px;
  padding-top: 30px;
  min-height: 100%;
}
.yx1{
  background-color:#F1F1F1;
  font-size: 13px;
  line-height: 18px;
 

}
.yx1-header{
  font-size:28px;
  font-weight: bold;
  line-height: 38px;
  letter-spacing: 2px;
}
.card-title.content-header{
  font-weight: 700;
font-size: 40px;
line-height: 44px;

}
}
@media only screen and (min-width: 992px){
  .blackbackground-headphone-image{
     background-image: url(/images/desktop-home/image-hero.jpg);
     position: relative;
    width: 100%;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    background-position: bottom center;
    
    justify-content: flex-start;
    background-size: cover;
     
  }
  .megatron-text-container, .leading-text{
    text-align: left;
    margin-left: 10%;
    width: 60%;
    }
    .leading-text{
      margin-left: 0;
    }
    .sub-text{
      padding: 1rem 0;
      padding-right: 50%;
    }
    .leading-text{
      font-size: 56px;
      line-height: 58px;
      letter-spacing: 2px;
      
    }
    .desktop-img {
      display: block;
    }
     .header-absolute-image-mobile{
      display: none;
     }
  .image-positioning{
    width: 170px;

  }
  .preview-boxes{
    display: flex;
    width: 35%;
  }
 .home-page-product-action-page{
   display: flex;
   width: 80%;
   padding-left: 5%;
   align-items: center;
   justify-content: space-between;
 }
 .product-preview{
   width: 80%;
 }.home-page-product-first-container{
   min-width: max-content;
 }
  .product.action.page{
    position: relative;
    z-index: 100;
    height:493px;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    padding-left:25%;
    margin-bottom: -8px;
  }
  .outermost-circle{
    width: 440px;
    height: 440px;
    top: 20%;
}
   .inner-circle{
     width: 400px;
     height: 400px;
   }
   
  .home-page-product-page{
   padding-top: 35px;
  }
    
  
   .zx7-speaker-products{
    background-image: url(/images/desktop-home/image-speaker-zx7.jpg);
 
    width: 80%;
   
}
 .container-for-black-earphone{
   width: 80%;
   padding-top: 2%;
   gap: 10px;
 }
 .black-earphones-case-picture-tablet{
   display: none;
 }
 .black-earphones-desktop{
   
   height: 100%;
   width: 100%;
   border-radius: 7px;
   
 }
 .black-earphones-case{
   width: 50%;
   height: 90%;
 }
 .yx1-earphone-card {
   width: 50%;
   margin-top:0;
   
 }
 .tab-pic{
   display: none;
 }
 .home-page-man-picture{
  flex-direction: row-reverse;
  width: 80%;
  gap: 10px;
  
 }
 .content-header,.content-text{
   text-align: left !important;
   margin-left: 0;
   padding: 0;
   padding-right: 3rem;
 }
 .card-body{
  padding: 0;
 }
 .home-page-man-picture img, .conten-holder {
   width: 50%;
   border-radius:7px;
 }
}
