.product-container {
 width: 100%;
 
}
.product-holder-container{
 width: 90%;
 margin: auto;
}
.product-image{
 display: block;
 margin: auto;
 border-radius: 9px;
 width: 90%;
}
.product-page-header{
 background-color: #191919;
 color: #fff;
 text-align: center;
 font-weight: 700;
 font-size:32px;
 height: 7rem;
 padding-top:2rem;
 margin-bottom: 4rem;

}
.new-product-tag{
 color: #D87D4A;
 font-weight: 400;
 font-size: 14px;
 letter-spacing: 10px;
 padding: 2rem 0;
 text-align: center;
}
.product-name{
 font-size:30px;
 font-weight: 700;
 text-align: center;
 letter-spacing: 2px;
 padding: 0 4rem;
 width: 100%;
 line-height: 38px;
}
.product-description{
 text-align: center;
 width: 100%;
 font-size: 15px;
 line-height: 25px;
 font-weight: 500;
 opacity: 0.5;
 padding: 0 17%;
 
}
.see-product{
 display: block;
 margin: auto;
 margin-top: 20px;
 margin-bottom: 10%;
 
 
}
.product-image-container{
 margin-top: 20px;
 
}
.tab-image-only{
 display: none !important;
}
 .mobile-image-only{
  display:block;
 }
@media only screen and (min-width: 600px){
 .product-container {
 width: 100%;
 margin: auto;
 

 }
 .product-page-header {
  width: 100%;

 }
 .mobile-image-only{
  display: none !important;
 }
 .tab-image-only{
 display: block !important;
 

}
}